[Unit]
Description={{ app_name }} ({{ app_name }}@%i)
After=network.target postgresql.service

[Service]
User={{ deploy_user }}
WorkingDirectory={{ app_root }}/%i
EnvironmentFile={{ app_env_file }}_%i
ExecStart={{ app_root }}/%i/bin/{{ otp_app_name }} start
Restart=on-failure
RestartSec=5
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
