MIX_ENV=prod
PHX_SERVER=true
PHX_HOST={{ phx_host | default(server_name) }}
PORT={{ app_port | default(app_blue_port | default(4000)) }}
DATABASE_URL={{ database_url }}
SECRET_KEY_BASE={{ secret_key_base }}
{% for item in app_env_extra | default([]) %}
{{ item.name }}={{ item.value }}
{% endfor %}
