[Unit]
Description=Backup {{ app_name }} database
Wants=network-online.target
After=network-online.target postgresql.service

[Service]
Type=oneshot
User={{ deploy_user }}
Group={{ deploy_user }}
ExecStart={{ backup_script_path }}
WorkingDirectory={{ backup_root }}
